@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Erin Bradley </p>
<p>Elizabeth Mayo </p>
<p>Isaiah Flood </p>
<p>Filip Zizovski </p>
<p>Houssein Khafaja </p>


