@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div>
        <h2>Application uses</h2>

    </div>
    <form>
        <fieldset>
            <legend>Please input or select all of the information for the metric modeller:</legend>

            <label for="functionPoint">Enter the number of function points: </label>
            <input type="number" name="functionPoint" id="functionPoint"><br>

            <label for="developerCost">Enter the cost per developer: </label>
            <input type="number" name="developerCost" id="developerCost"><br>

            <label for="language">Select a language: </label>
            <select name="language" id="language">
                <option value="1">Volvo</option>
                <option value="2">Saab</option>
                <option value="3">Mercedes</option>
                <option value="4">Audi</option>
            </select><br>

            <label for="prec">Select the precedentedness of the solution: </label>
            <select name="prec" id="prec">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="flex">Select the Development Flexibility of the solution: </label>
            <select name="flex" id="flex">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="resl">Select the Architecture/Risk Resolution of the solution: </label>
            <select name="resl" id="resl">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="team">Select the team cohesion for the solution: </label>
            <select name="team" id="team">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="pmat">Select the process maturity of the solution: </label>
            <select name="pmat" id="pmat">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="rel">Select the reliability of the solution: </label>
            <select name="rel" id="rel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="data">Select the database size of the solution: </label>
            <select name="data" id="data">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="cplx">Select the complexity of the product: </label>
            <select name="cplx" id="cplx">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="ruse">Select the reusability of the solution: </label>
            <select name="ruse" id="ruse">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="docu">Select the level of documentation for the solution: </label>
            <select name="docu" id="docu">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="time">Select the urgency of the time constraints for the solution: </label>
            <select name="time" id="time">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="stor">Select the level of storage constraints for the solution: </label>
            <select name="stor" id="stor">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="pvol">Select the platform volatility of the solution: </label>
            <select name="pvol" id="pvol">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="acap">Select the capability of the analysts working on the solution: </label>
            <select name="acap" id="acap">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="pcap">Select the capability of the programmers working on the solution: </label>
            <select name="pcap" id="pcap">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="pcon">Select the years of experience of the programmers working on the solution: </label>
            <select name="pcon" id="pcon">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="apex">Select the level of experience the programmers have with applications: </label>
            <select name="apex" id="apex">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="plex">Select the level of experience the programmers have with platforms: </label>
            <select name="plex" id="plex">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="ltex">Select the level of experience the programmers have with the language and toolset: </label>
            <select name="ltex" id="ltex">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="tool">Select the amount of use of software tools for the solution: </label>
            <select name="tool" id="tool">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="site">Select the amount of multisite development for the solution: </label>
            <select name="site" id="site">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <label for="sched">Select the level of necessity for a required development schedule for the solution: </label>
            <select name="sched" id="sched">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>
            <input type="submit" value="Calculate" id="submit">
        </fieldset>
    </form><br />

    <ul id="results"></ul>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#submit").click(function (e) {
                e.preventDefault();
                var metrics = "" +
                    $('#functionPoint').val() +
                    "," +
                    $('#developerCost').val() +
                    "," +
                    $('#language').val() +
                    "," +
                    $('#prec').val() +
                    "," +
                    $('#flex').val() +
                    "," +
                    $('#resl').val() +
                    "," +
                    $('#team').val() +
                    "," +
                    $('#pmat').val() +
                    "," +
                    $('#rel').val() +
                    "," +
                    $('#data').val() +
                    "," +
                    $('#cplx').val() +
                    "," +
                    $('#ruse').val() +
                    "," +
                    $('#docu').val() +
                    "," +
                    $('#time').val() +
                    "," +
                    $('#stor').val() +
                    "," +
                    $('#pvol').val() +
                    "," +
                    $('#acap').val() +
                    "," +
                    $('#pcap').val() +
                    "," +
                    $('#pcon').val() +
                    "," +
                    $('#apex').val() +
                    "," +
                    $('#plex').val() +
                    "," +
                    $('#ltex').val() +
                    "," +
                    $('#tool').val() +
                    "," +
                    $('#site').val() +
                    "," +
                    $('#sched').val() +
                    "";

                var clientStuff;

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("sendInputs", "Home")',
                    data: { 'result': metrics },
                    success: function(data) {
                        var json = JSON.parse(data);
                        $("#results").html("");
                        $("#results").append("<li>Months: " + json.months + "</li>");
                        $("#results").append("<li>Cost: " + json.cost + "</li>");
                        $("#results").append("<li>Lines of Code: " + json.cost + "</li>");
                        $("#results").append("<li>Defects: " + json.defects + "</li>");
                    },
                    error: function(errorMsg) {
                        alert(JSON.stringify(errorMsg));
                    }
                });

            });
        });
    </script>
}

    </div>
